/*Slot Styles*/

.slots {
  box-sizing: border-box;
  margin-left: 2%;
  width: 98%;
  padding-bottom: 1em;
}

.slot {
  box-sizing: border-box;
  margin:0.3%;
  width: 31%;
  height: 20em;
  display: inline-block;
  outline: 1em solid black;
  min-height: 200px;
  padding: 3%;
  background-color: white;
  overflow: hidden;
}

.slot-background {
  background-color: black;
}

.textbox {
  height: 2.7em;
}

.slottext {
  max-height: 2em;
  text-align: center;
}

.button {
  margin-top: 1em;
  margin-right: 1em;
  width:96%;
}

/* NavBar*/

.nav {
  background-color: black;
}

h1 {
  color: white;
  margin: .2em;
  font-family: 'Texta', 'AvenirNext-Regular', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
}

/*Result*/

.win {
  width:100%;
  background-color: #3DDE38;
}

.loss {
  width:100%;
  background-color: #E60B0B;
}

.result-text {
  padding: .2em;
  margin: 0;
  text-align: center;
}

.win > .result-text {
  font-size: 8vw;
}

.loss > .result-text {
  font-size: 15vw;
}

/*Animations*/

.ng-leave{
  animation-name: slideDown;
  -webkit-animation-name: slideDown;  

  animation-duration: 0.1s; 
  -webkit-animation-duration: 0.1s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;  
  overflow-y: hidden;

  visibility: visible !important;           
}

.ng-enter{
  animation-name: slideDown;
  -webkit-animation-name: slideDown;  

  animation-duration: 0.1s; 
  -webkit-animation-duration: 0.1s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease; 

  visibility: visible !important;           
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50%{
    transform: translateY(-50%);
  }  
  100% {
    transform: translateY(0%);
  }   
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50%{
    -webkit-transform: translateY(-50%);
  } 
  100% {
    -webkit-transform: translateY(0%);
  } 
}

.ng-leave{
  animation-name: slideDownMore;
  -webkit-animation-name: slideDownMore;  

  animation-duration: 0.1s; 
  -webkit-animation-duration: 0.1s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;  

  visibility: visible !important;           
}

@keyframes slideDownMore {
  0% {
    transform: translateY(0%);
  }
  50%{
    transform: translateY(50%);
  }  
  100% {
    transform: translateY(100%);
  }   
}

@-webkit-keyframes slideDownMore {
  0% {
    -webkit-transform: translateY(0%);
  }
  50%{
    -webkit-transform: translateY(50%);
  }
  
  100% {
    -webkit-transform: translateY(100%);
  } 
}

.slotimage{
  max-height: 10em;
  max-width: 100%;
  overflow: hidden;

}

